<div style="background-color: black;" id="footer" class="pt-2 text-center">
    <a class="footerIcon" href="https://twitter.com/abhinsharma24"><i
            class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>

</body>
</html>