<% include ./partials/header %>

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-4 mx-auto">
            <img class="img-fluid center-block" src="https://i.imgur.com/GtKCIIG.jpg" alt="Responsive Image 1">
        </div>
    </div>
</section>


<h3 class="mx-3 pt-4 text-white text-center">I currently attend the University of Chicago and am expected to graduate with a degree in Economics.
    I am extremely fascinated by technology and have been since a very young age. This website was built
    from scratch with html, css, javascript, node, and bootstrap. Feel free to check out any of the tabs,
    and thanks for stopping by! </h3>