<% include ./partials/header %>

<!-- Books  -->
<div class="card pt-3">
    <h2 class="text-center pt-5">Books</h2>
    <h5 class="card-header text-center px-5">The following are books that I have found interesting over the years. These are not in any particular order.
        I more than welcome any suggestions or recommendations you may have!
    </h5>
    <div class="card-body">
        <p class="card-text">
        </p>
        <ul>
            <li> <a href="https://www.amazon.com/Antifragile-Things-That-Disorder-Incerto-ebook/dp/B0083DJWGO/ref=sr_1_1?crid=2MQBX284LRDBH&keywords=antifragile+by+nassim+taleb&qid=1569428454&s=gateway&sprefix=antifragile%2Caps%2C147&sr=8-1">Antifragile: Things That Gain from Disorder (Incerto)</a></li>
            <li> <a href="https://www.amazon.com/Book-Five-Rings-Miyamoto-Musashi/dp/1480268682/ref=sr_1_1_sspa?keywords=a+book+of+five+rings&qid=1569428490&s=gateway&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTlhSRU9DVVlGMjcyJmVuY3J5cHRlZElkPUEwODA1MjkwMUJOSDlYSlpYV0lMVyZlbmNyeXB0ZWRBZElkPUEwNDMxMTI5MlI1MTg5WTZTVDRBRyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">A Book of Five Rings</a></li>
            <li> <a href="https://www.amazon.com/Flow-Psychology-Experience-Perennial-Classics/dp/0061339202/ref=sr_1_1?crid=2PRLWRBR5K5C3&keywords=flow+the+psychology+of+optimal+experience&qid=1569428516&s=gateway&sprefix=flow+the+ps%2Caps%2C141&sr=8-1">Flow: The Psychology of Optimal Experience    </a> </li>
            <li> <a href="https://www.amazon.com/Art-Learning-Journey-Optimal-Performance-ebook/dp/B000QCQ970/ref=sr_1_1?crid=3JSJUCXNFE1JV&keywords=the+art+of+learning&qid=1569428547&s=gateway&sprefix=the+art+of+learning%2Caps%2C143&sr=8-1">The Art of Learning    </a> </li>
            <li> <a href="https://www.amazon.com/Fooled-Randomness-Hidden-Markets-Incerto-ebook/dp/B001FA0W5W/ref=sr_1_1?crid=1U2VS96F54N7F&keywords=fooled+by+randomness&qid=1569428569&s=gateway&sprefix=fooled+by%2Caps%2C149&sr=8-1">Fooled by Randomness    </a> </li>
            <li> <a href="https://www.amazon.com/Blackstone-Audio-Inc-Search-Meaning/dp/B0006IU470/ref=sr_1_1?crid=26I9RS2PYQ9K0&keywords=mans+search+for+meaning&qid=1569428583&s=gateway&sprefix=mans+search%2Caps%2C153&sr=8-1">Man's Search for Meaning    </a> </li>
            <li> <a href="https://www.amazon.com/How-Filthy-Rich-Rising-Asia/dp/B00BJNTVPM/ref=sr_1_1?crid=2JX0K3ZV8X5CI&keywords=how+to+get+filthy+rich+in+rising+asia&qid=1569428603&s=audible&sprefix=how+to+get+fil%2Caudible%2C149&sr=1-1">How to Get Filthy Rich in Rising Asia    </a> </li>
            <li> <a href="https://www.amazon.com/Strangers-Ourselves-Discovering-Adaptive-Unconscious/dp/B006BCJWZK/ref=sr_1_1?crid=3777FJTBC8BU5&keywords=strangers+to+ourselves&qid=1569428620&s=audible&sprefix=strangers+to+ou%2Caudible%2C185&sr=1-1">Strangers to Ourselves: Discovering the Adaptive Unconscious    </a> </li>
            <li> <a href="https://www.amazon.com/Social-Animal-Sources-Character-Achievement/dp/B004R0MU98/ref=sr_1_1?crid=3BVZS40DEWHAQ&keywords=the+social+animal&qid=1569428635&s=audible&sprefix=the+social+ani%2Caudible%2C137&sr=1-1">The Social Animal    </a> </li>
            <li> <a href="https://www.amazon.com/Atomic-Habits-Proven-Build-Break/dp/B07RFSSYBH/ref=sr_1_1?crid=2HK5XCVDMYQJ4&keywords=atomic+habits+by+james+clear&qid=1569428654&s=audible&sprefix=atomic+habi%2Caudible%2C147&sr=1-1">Atomic Habits: An Easy and Proven Way to Build Good Habits and Break Bad Ones    </a> </li>
            <li> <a href="https://www.amazon.com/Tipping-Point-Little-Things-Difference/dp/B000OYD8T2/ref=sr_1_1?crid=39CGHL8HA979N&keywords=the+tipping+point+by+malcolm+gladwell&qid=1569428671&s=audible&sprefix=the+tipping+po%2Caudible%2C142&sr=1-1">The Tipping Point    </a> </li>
            <li> <a href="https://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/B005MM7HY8/ref=sr_1_1?crid=14J7CXGGZNYWA&keywords=the+lean+startup&qid=1569428695&s=audible&sprefix=the+lean+st%2Caudible%2C-1&sr=1-1">The lean startup    </a> </li>
            <li> <a href="https://www.amazon.com/The-Intelligent-Investor-Rev-Ed/dp/B00V7328GS/ref=sr_1_1?crid=U3S5RSWLI3JO&keywords=the+intelligent+investor&qid=1569428713&s=audible&sprefix=the+intellige%2Caudible%2C138&sr=1-1">The Intelligent Investor    </a> </li>
            <li> <a href="https://www.amazon.com/Common-Stocks-Uncommon-Profits-Writings/dp/B07WF9L8DH/ref=sr_1_1?crid=1YHZZQ7ZRZQAU&keywords=common+stocks+and+uncommon+profits+by+philip+fisher&qid=1569428726&s=audible&sprefix=common+stock%2Caudible%2C142&sr=1-1">Common Stocks & Uncommon Profits    </a> </li>
            <li> <a href="https://www.amazon.com/Money-Masters-John-Train/dp/0887306381/ref=sr_1_2?crid=18QB9ZTMHUBJ&keywords=the+money+masters+john+train&qid=1569428783&s=books&sprefix=the+money+masters+john+%2Caudible%2C155&sr=1-2">The Money Masters    </a> </li>
            <li> <a href="https://www.amazon.com/Ca-hvertising-Ad-Agency-Psychology-Anything/dp/B0711KZW8K/ref=sr_1_1?keywords=cashvertising&qid=1569428803&s=books&sr=1-1">Cashvertising: How to Use More Than 100 Secrets of Ad-Agency Psychology to Make Big Money Selling Anything to Anyone    </a> </li>
            <li> <a href="https://www.amazon.com/Grit-Power-Passion-Perseverance/dp/B01D3AC5VU/ref=sr_1_1?keywords=grit&qid=1569428815&s=audible&sr=1-1">Grit: The Power of Passion and Perseverance    </a> </li>
            <li> <a href="https://www.amazon.com/Steal-Like-Artist-Things-Creative/dp/0761169253/ref=sr_1_1?crid=1XZ0K9EYDN2S3&keywords=steal+like+an+artist&qid=1569428829&s=audible&sprefix=steal+like+%2Caudible%2C143&sr=1-1-catcorr">Steal Like an Artist    </a> </li>
            <li> <a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/B0189PVAWY/ref=sr_1_1?keywords=deep+work&qid=1569428854&s=audible&sr=1-1">Deep Work: Rules for Focused Success in a Distracted World    </a> </li>
            <li> <a href="https://www.amazon.com/Shallows-What-Internet-Doing-Brains/dp/B003RCWPJW/ref=sr_1_1?crid=1KBZC27LJDQNM&keywords=the+shallows&qid=1569428867&s=audible&sprefix=the+shallows%2Caudible%2C143&sr=1-1">The Shallows: What the Internet Is Doing to Our Brains    </a> </li>
            <li> <a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/B0006IU7JK/ref=sr_1_1?crid=3Q60PPDAQQSQJ&keywords=how+to+win+friends+and+influence+people&qid=1569428883&s=audible&sprefix=how+to+win%2Caudible%2C148&sr=1-1">How to Win Friends and Influence People    </a> </li>
            <li> <a href="https://www.amazon.com/Screw-Business-as-Usual/dp/B00B4EJHOQ/ref=sr_1_1?crid=B77F0MIKDDR3&keywords=screw+business+as+usual&qid=1569428897&s=audible&sprefix=screw+business%2Caudible%2C177&sr=1-1">Screw Business As Usual: Turning Capitalism into a Force for Good    </a> </li>
            <li> <a href="https://www.amazon.com/Skin-Game-Hidden-Asymmetries-Daily/dp/B077BSK9LC/ref=sr_1_1?crid=YI2S4EU7XL3V&keywords=skin+in+the+game&qid=1569428910&s=audible&sprefix=skin+in+the+game%2Caudible%2C143&sr=1-1">Skin in the Game: Hidden Asymmetries in Daily Life    </a> </li>
            <li> <a href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/B00M284NY2/ref=sr_1_1?crid=3KN3EIIBJS94S&keywords=zero+to+one+peter+thiel&qid=1569428924&s=audible&sprefix=zero+to+o%2Caudible%2C154&sr=1-1">Zero to One</a></li>
            <li> <a href="https://www.amazon.com/Shoe-Dog-Memoir-Creator-Nike/dp/B01CRJA470/ref=sr_1_1?keywords=shoe+dog&qid=1569428935&s=audible&sr=1-1">Shoe Dog</a></li>
            <li> <a href="https://www.amazon.com/Why-We-Get-Fat-About/dp/B004HFK0H2/ref=sr_1_1?keywords=why+we+get+fat&qid=1569428947&s=audible&sr=1-1">Why We Get Fat</a></li>
            <li> <a href="https://www.amazon.com/Hitchhikers-Guide-Galaxy/dp/B0009JKV9W/ref=sr_1_1?crid=2DF6M1SQFWGJ2&keywords=the+hitchhiker%27s+guide+to+the+galaxy&qid=1569428959&s=audible&sprefix=the+hitch%2Caudible%2C145&sr=1-1">The Hitchhiker's Guide to the Galaxy</a></li>
            <li> <a href="https://www.amazon.com/How-Get-Rich-Greatest-Entrepreneurs/dp/1591842719/ref=sr_1_2?crid=C0NCQ80H0SIC&keywords=how+to+get+rich+felix+dennis&qid=1569428972&s=books&sprefix=how+to+get+rich+felix%2Caudible%2C143&sr=1-2">How to Get Rich</a></li>
            <li> <a href="https://www.amazon.com/When-Breath-Becomes-Paul-Kalanithi/dp/081298840X/ref=sr_1_1?crid=1AXE51XDFYKJ&keywords=when+breath+becomes+air&qid=1569428991&s=books&sprefix=when+breath+%2Cstripbooks%2C142&sr=1-1">When Breath Becomes Air</a></li>
        </ul>
    </div>


<div style="background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhin_24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>

</body>
</html>






