<% include ./partials/header %> 

<!-- Books  -->
<div class="card">
    <h2 class="text-center pt-5">Books</h2>
    <h5 class="card-header text-center px-5">The following are books that I have found interesting over the years. These are not in any particular order. 
        I more than welcome any suggestions or recommendations you may have!
    </h5>
    <div class="card-body">
        <p class="card-text">
        </p>
        <ul>
            <li>Antifragile: Things That Gain from Disorder (Incerto)</li>
            <li>A Book of Five Rings</li>
            <li>Flow: The Psychology of Optimal Experience</li>
            <li>The Art of Learning</li>
            <li>Fooled by Randomness</li>
            <li>Man's Search for Meaning</li>
            <li>How to Get Filthy Rich in Rising Asia</li>
            <li>Strangers to Ourselves: Discovering the Adaptive Unconscious</li>
            <li>The Social Animal</li>
            <li>Atomic Habits: An Easy and Proven Way to Build Good Habits and Break Bad Ones</li>
            <li>The Tipping Point</li>
            <li>The lean startup</li>
            <li>The Intelligent Investor</li>
            <li>Common Stocks & Uncommon Profits</li>
            <li>The Money Masters</li>
            <li>Cashvertising: How to Use More Than 100 Secrets of Ad-Agency Psychology to Make Big Money Selling Anything to Anyone</li>
            <li>Grit: The Power of Passion and Perseverance</li>
            <li>Steal Like an Artist</li>
            <li>Deep Work: Rules for Focused Success in a Distracted World</li>
            <li>The Shallows: What the Internet Is Doing to Our Brains</li>
            <li>How to Win Friends and Influence People</li>
            <li>Screw Business As Usual: Turning Capitalism into a Force for Good</li>
        </ul>
    </div>


<div style="background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhinsharma24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>

</body>
</html>






