<% include ./partials/header %>




<div class="jumbotron">
    <h2 class="display-5 text-center">I look forward to connecting.</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg btn-block" href="mailto:" role="button">Email:
            asharma24@uchicago.edu</a>
        <a class="btn btn-primary btn-lg btn-block" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"
            role="button">LinkedIn</a>
        <a class="btn btn-primary btn-lg btn-block" href="https://github.com/asharma13524"
            role="button">GitHub</a>
        <a class="btn btn-primary btn-lg btn-block" href="tel:6787738353" role="button">Phone: (678) 773-8353</a>
    </p>
</div>


<div style="margin-top:120px; background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhinsharma24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>





