<% include ./partials/header %>


<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
              <h1>Welcome to my website!</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="https://i.imgur.com/GtKCIIG.jpg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid" src="https://i.imgur.com/MN4IDe2.jpg" alt="">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-12 blurb mb-5 mb-md-0">
                    <h3 class="text-white"> This website showcases interesting books I've read and exciting projects I've taken up.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h3 class="text-white">I have links up top and down below for all my information. Feel free to reach out anytime! Thanks for stopping by.
                    </h3>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <img class="img-fluid" src="https://i.imgur.com/xpYi85G.jpg" alt="Responsive Image 3">
            </div>
    </div>
</section>



<div style="background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhin_24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $("#mainNavbar");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
    });
</script>

</body>
</html>

