<% include ./partials/header %> 

<!-- github projects -->
<section class="container pt-5">
    <div class="row align-items-center justify-content-between pt-5">
        <div class="card d-lg-block" style="width: 16rem;">
            <img src="https://i.imgur.com/pSKEeha.jpg" class="card-img-top" style="height: 12rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">YelpCamp</h5>
                <p class="card-text" style="font-size: 0.8rem;">This is a fullstack website I developed with the Express framework from Node.js. It showcases advanced web development
                concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. From Colt
                Steel's Web Development Bootcamp.</p>
                <a href="https://github.com/asharma13524/YelpCamp" class="btn btn-primary">Code</a>
                <a href="https://frozen-depths-97851.herokuapp.com/" class="btn btn-primary">Website</a>
                
            </div>
        </div>
        <div class="card d-lg-block" style="width: 16rem;">
            <img src="https://i.imgur.com/pSKEeha.jpg" class="card-img-top" style="height: 12rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">Color Game</h5>
                <p class="card-text" style="font-size: 0.8rem;">This is a fullstack website I developed with the Express framework from Node.js. It showcases advanced web development
                concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. From Colt
                Steel's Web Development Bootcamp.</p>
                <a href="#" class="btn btn-primary">Code</a>
            </div>
        </div>
        <div class="card d-lg-block" style="width: 16rem;">
            <img src="https://i.imgur.com/pSKEeha.jpg" class="card-img-top" style="height: 12rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">Patatap Clone</h5>
                <p class="card-text" style="font-size: 0.8rem;">This is a fullstack website I developed with the Express framework from Node.js. It showcases advanced web development
                concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. From Colt
                Steel's Web Development Bootcamp.</p>
                <a href="https://github.com/asharma13524/Patatap-Clone" class="btn btn-primary">Code</a>
            </div>
        </div>
        <div class="card d-lg-block" style="width: 16rem;">
            <img src="https://i.imgur.com/pSKEeha.jpg" class="card-img-top" style="height: 12rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">Image Classifier</h5>
                <p class="card-text" style="font-size: 0.8rem;">This is a fullstack website I developed with the Express framework from Node.js. It showcases advanced web development
                concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. From Colt
                Steel's Web Development Bootcamp.</p>
                <a href="#" class="btn btn-primary">Code</a>
            </div>
        </div>
    </div>
</section>

<!-- 2ND ROW  -->
<section class="container pt-3 pb-5">
    <div class="row align-items-center justify-content-between pt-5">
        <div class="card d-lg-block" style="width: 16rem;">
            <img src="https://i.imgur.com/pSKEeha.jpg" class="card-img-top" style="height: 12rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">YelpCamp</h5>
                <p class="card-text" style="font-size: 0.8rem;">This is a fullstack website I developed with the Express
                    framework from Node.js. It showcases advanced web development
                    concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment.
                    From Colt
                    Steel's Web Development Bootcamp.</p>
                <a href="#" class="btn btn-primary">Code</a>
                <a href="https://frozen-depths-97851.herokuapp.com/" class="btn btn-primary">Website</a>
            </div>
        </div>
    </div>
</section>

<div style="background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhinsharma24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
