<% include ./partials/header %>

<div class="card pt-4 mt-4">
    <h3 class="card-header text-center">
        Abhin Sharma
    </h3>
    <h6 class="card-header text-center">1101 E. 56th Street, Chicago, IL | (678)-773-8353 | asharma24@uchicago.edu | U.S. citizen</h6>
</div>


<!-- Education -->

<div class="card">
    <h3 class="card-header">
        Education
    </h3>
    <div class="card-body">
        <h5 class="card-title mb-1">University of Chicago | 3.6 <span class="place">Chicago, Illinois</span> </h5>
        <h6><em>Bachelor of Arts with a Specialization in Business Economics</em> <span class="date" >Sep. 2017-June 2020E</span></h6>
        <ul>
            <li>Relevant Coursework: Topics in Machine Learning: Deep Learning, Statistical Methods and Applications, Linear Algebra, 
                Game Theory and Economic Applications, Marketing Management, Financial Statement Analysis,
                Financial Accounting </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Courses</h5>
            <ul>
                <li>The Web Developer Bootcamp by Colt Steele</li>
                <li>Practical Deep Learning for Coders by fast.ai</li>
                <li>Intro to Git by Ian Schoonover</li>
            </ul>
    </div>

</div>


<!--Work experience--------------->
<div class="card">
    <h3 class="card-header">Professional Experience</h3>
    <div class="card-body">
        <!-- EV -->
        <h5 class="card-title mb-0">Eagle Value Partners, LLC <span class="place">New York, New York</span> 
        </h5>
        <p><em>Value-oriented bottom-up hedge fund run by Berkshire Hathaway board member with ~ 150mm AUM</em></p>
        <h6><em>Financial Analyst Intern</em> <span class="date">June 2018-July 2018</span></h6>
            <ul>
                <li>Assisted in building financial models with 3-year projections of several publicly traded companies in the automobile,
                pharmaceutical, and retail industries</li>
                <li>Aided in bottom-up research on several publicly traded companies by conducting diligence through reaching out to
                investor relations and management for inquiries and information</li>
                <li>Participated in buy-side IPO roadshow meeting featuring company management with over 50 money managers and
                research analysts</li>
            </ul>
    </div>
    <div class="card-body">
        <!-- EV -->
        <h5 class="card-title">Eagle Value Partners, LLC <span class="place">New York, New York</span>
        </h5>
        <h6><em>Financial Analyst Intern</em> <span class="date">June 2018-July 2018</span> </h6>
        <p class="card-text">
            <ul>
                <li>Conducted extensive financial analysis of the UK construction materials industry and culminated findings into a
                three-year projected cash flow-based model and investment recommendation presentation</li>
                <li>Completed bottom-up research (communicating with Investor Relations and Management) in order to assess industry
                landscape and competitor positioning</li>
                <li>Participated in an intensive week-long course taught by a Columbia professor on discounted cash flow analysis</li>
                <li>Completed prerequisite Harvard Business Review Courses in Financial Accounting and Excel</li>
            </ul>
        </p>
    </div>
    <!-- Leadership & Activities -->
    <div class="card">
        <h3 class="card-header">
            Leadership & Activities
        </h3>
        <div class="card-body">
            <h5 class="card-title mb-1">University of Chicago Collegiate Men's Tennis Team <span class="place">Chicago, Illinois</span></h5>
            <h6><em>Varsity Athlete</em><span class="date">Sep. 2017-April 2018</span> </h6>
            <p class="card-text">
                <ul>
                    <li>Competed for a national title with a time commitment of 28-30 hours per week, year-round</li>
                </ul>
            </p>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-1">Atlanta Student Investors Club <span class="place">Atlanta, Georgia</span></h5>
            <h6><em>Board Member</em><span class="date">Aug. 2016-Dec. 2016</span> </h6>
            <p class="card-text">
                <ul>
                    <li>Conducted cross-currency trades on mock portfolio such as GBP/USD, EUR/USD, and USD/AUD using technical analysis</li>
                    <li>Analyzed support, resistance, Bollinger Bands, and simple moving averages to determine entry and exit
                    points of specific investments</li>
                </ul>
            </p>
        </div>
        
    </div>

</div>



<!-- Skills -->
<div class="card">
    <h3 class="card-header">
        Additional Information
    </h3>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li><strong>Programming</strong>: JavaScript (jQuery), Node.js, Bootstrap, HTML,
                    CSS, Git, REST API’s</li>
                <li><strong>Skills</strong>: Bloomberg Terminal, PowerPoint, Excel</li>
                <li><strong>Spoken Languages</strong>: Hindi/Urdu (conversational), Spanish (basic)</li>
                <li><strong>Interests</strong>: Hiking, Atlanta Falcons, Meditation, Tennis, Reading and Chess</li>
            </ul>
        </p>
    </div>
</div>

<div style="background-color: black;" id="footer" class="container-fluid pt-3 text-center">
    <a class="footerIcon" href="https://twitter.com/abhin_24"><i class="fab fa-twitter"></i></a>
    <a class="footerIcon" href="https://www.linkedin.com/in/abhinsharma/"><i class="fab fa-linkedin"></i></a>
    <a class="footerIcon" href="https://github.com/asharma13524"><i class="fab fa-github"></i></a>
    <a class="footerIcon" href="mailto:asharma13524@gmail.com"><i class="fas fa-envelope"></i></a>
    <p style="color: white;font-family: 'Montserrat', sans-serif;"><strong>Abhin Sharma</strong></p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>

