body {
  background-image: url("https://i.imgur.com/tUVwAMO.png");
}

.jumbotron {
    background-image: url("https://i.imgur.com/tUVwAMO.png");
    padding-bottom: 0px;
    height: 100%;
}

.img-fluid {
        background-repeat: no-repeat, repeat;
        background-blend-mode: lighten;
}

.dates{
    float: right;
}

.footerIcon {
    font-size: 30px;
    margin-right: 5px;
}

.place{
    float: right;
}

.date {
    float: right;
    font-style: italic;
}

#footer {
    height: 120px;
    width: 100%;
}

#years{
    float: right;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
